@import url('./reset.css');
@import url('./variables.css');

@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/inter/inter-variable.ttf);
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-paragraph);
    color: var(--color-white);
    background-color: var(--color-blue-700);
    min-height: 100vh;
    line-height: 1.5;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.header {
    grid-area: header;
    padding: var(--space-md) var(--space-xl);
    border-bottom: 1px solid var(--color-blue-200);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
    font-size: var(--font-size-small);
}

.header__logo::before {
    content: '';
    display: block;
    width: 0.8em;
    height: 0.8em;
    background-color: var(--color-white);
    border-radius: 50%;
}

.header__menu {
    background-color: var(--color-blue-700);
    border: none;
    padding: var(--space-sm);
    border-radius: var(--radius-xs);
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.header__menu:hover {
    background-color: var(--color-blue-400);
}

.main {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 
    "hero stats";
    grid-area: main;
}

.hero {
    grid-area: hero;
    border-right: 1px solid var(--color-blue-200);
    padding: var(--space-xl);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__title {
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-medium);
    line-height: 1.2;
    margin-bottom: var(--space-lg);
    max-width: 11ch;
}

.hero__text {
    color: var(--color-blue-200);
    font-size: var(--font-size-paragraph);
    max-width: 38ch;
}

.footer {
    grid-area: footer;
    border-top: 1px solid var(--color-blue-200);
}

.stats {
    grid-area: stats;
}